<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Test1</key>
	<dict>
		<key>ClassName</key>
		<string>Test1ViewController</string>
		<key>Description</key>
		<string>Test1 description</string>
		<key>Tag</key>
		<integer>100</integer>
		<key>Dependencies</key>
		<dict>
			<key>dependentString</key>
			<string>depstr</string>
		</dict>
	</dict>
</dict>
</plist>
